.navbar_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 12%;
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
}
.nav_link{
    margin: 20px;
    text-decoration: none;
    color: white;
    font-weight: 450;
}
.nav_link:hover{
    color: #201610;
    letter-spacing: 1.5px;
    transition: all 0.5s;
}
.nav_name{
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 5px;
    color: white
}