.footer_container {
    padding: 50px 70px;
    background: linear-gradient(to right, rgb(244, 114, 182), rgb(219, 39, 119));
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer_brand {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 5px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.footer_brand_desc {
    font-size: 16px;
    color: white;
}

.footer_link_header {
    font-size: 20px;
    font-weight: 600;
    color: #913175;
    padding: 0;
}

.footer_link_container {
    display: flex;
    flex-direction: column;
}

ol {
    list-style-type: none;
    padding: 0;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.subscribe_container input {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    color: #fff;
    padding-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    transition: .1s;
    width: 200px;
}

.subscribe_container input:focus {
    border: 3px solid #fff;
    padding: 10px;
    border-radius: 10px 0px;
}

.subscribe_container ::-webkit-input-placeholder {
    color: #fff;
}

.subscribe_container button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    color: #913175;
    font-family: 'Poppins', sans-serif;
    transition: .3s;
}

.subscribe_container button:hover {
    background-color: #913175;
    color: #fff;
    cursor: pointer;
}