.banner_container {
    padding: 150px 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.text_banner {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.button_banner {
    padding: 15px 40px;
    background-color: #fff;
    border: none;
    font-weight: 600;
    box-shadow: black 5px 5px 0px 0px;
}

.button_banner:hover {
    background-color: black;
    box-shadow: white 5px 5px 0px 0px;
    transition: all ease-in-out 0.5s;
    color: #fff;
    cursor: pointer;
}

.image_banner {
    width: 500px;
    border-radius: 25px 0px;
    box-shadow: black 5px 5px 0px 0px;
}